{% extends "base.html" %}
{% block title %}COR History{% endblock %}

{% block content %}

<a href="{{ url_for('dashboard.home') }}" class="back-btn">← Back</a>

<h2 class="page-title">History</h2>

<div class="history-card">
    <table class="history-table">
        <thead>
            <tr>
                <th>Semester</th>
                <th>Academic Year</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for sem, year in records %}
            <tr>
                <td>{{ sem }}</td>
                <td>{{ year }}</td>
                <td>
                    <a href="{{ url_for('schedule.view_schedules', semester=sem + '||' + year) }}" class="view-btn">View</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
